.display{
    content: "";
    border: 1px solid;
    display: flex;
    width: 200px;
    margin: 5px 0px;
    height:25px;
}

.numero {
    background-color: red;
    border: 1px;
    color:white;
    width: 50px;
    height: 50px;
    font-size: xx-large;
}

.numero:hover{
    background:rgb(118, 4, 4);
}
